.poster {
    display: flex;
    margin-top: 22px;
  
    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 26px;
  
      h1 {
        background: linear-gradient(90deg, rgb(48, 207, 208), rgb(51, 8, 103));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-family: "Poppins Black", sans-serif;
        font-size: 48px;
      }
  
      p {
        color: rgb(34, 34, 34);
        font-family: Manrope-Regular;
        font-size: 18px;
      }
      }
    }
  