.analize{
    display: flex;
    flex-direction: column;
    width:100%;
    padding-bottom: 40px;
    .searchBlock{
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        border-radius: 8px;
        padding: 0 13px;
        position: relative;
        background: #DBEBFF;
        align-items: center;
        .autocomplete{
          position:absolute;
          left: 0;
          top: 48px;
          width: 100%;
          background: #DBEBFF;
          list-style: none;
          margin: 0;
          padding: 0;
          z-index: 111;
          max-height: 240px;
          height: auto;
          overflow: clip;
          border-radius: 10px;
          font-family: Manrope-Regular;
        }
        .autocompleteItem{
          padding: 10px;
        }
        .autocompleteItem:hover{
          background: rgb(180,180,180);
          cursor: pointer;
          transition: cubic-bezier(0.075, 0.82, 0.165, 1) .3s all;
        }
      input{
        background: #DBEBFF;
        border-radius: 20px;
        border: 1px #DBEBFF ;
        padding: 15px 120px 15px 15px;
        width: 100%;
    }
      .close{
        position: absolute;
        right:  30px;
        top: 37%;
        cursor: pointer;
        
      }
    }
    
    input:focus{
      outline:none;
    }
    
      .Allanalize {
        // display: flex;
        width: 100%;
        margin:  40px 10px;
        .twoColumn{
          display: grid;
          grid-template-columns: 700px 750px; /* Создание двух колонок с равными ширинами */
          grid-gap: 10px; /* Расстояние между элементами списка */
          padding: 0; 
            li{
                font-family: Manrope-Regular;
                margin-bottom: 18px;
                font-size: 18px;
                list-style: none;
                color: #000;
                width: 50%;
                box-sizing: border-box; 
                transition: .3s;
            }
            li:hover{
              color: #346EFB;
            }
        }
    }
      
}