.contacts{
    font-size: 18px;
    font-family:Manrope-Regular;
    max-width: 680px;
    .title{
        padding-bottom: 40px;
        color:#4D4E51;
    }
    h2{
        font-family: Manrope-Semi-Bold;
        margin-top: 26px;
    }
    a{
        color: #048741; 
    }
    ul{
        list-style-type: none;
        li{
            padding-bottom: 20px;
        }
    }
}
.mapContainer{
    z-index: 4;
    margin-left: -20%;
    margin-top: 120px;
}