.form {
    margin-top: 50px;
    
    h3 {
        font-family: Manrope-Medium;
    }

    .commentField {
        textarea {
            width: 100%;
            resize: none;
            padding: 27px 20px;
            height: 315px;
            border-radius: 20px;
            font-family: Manrope-Medium;
            font-size: 18px;
        }
    }
    .btn {
    display: flex;
    justify-content: center;
    margin-top: 22px;
    }
}