.header {
    font-family: Manrope-Semi-Bold;
    font-size: 24px; 
    margin-top: 75px;  
}

.titles {
    margin-top: 40px;
    font-family: Manrope-Semi-Bold;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    width: 598px;
}

.list {
    margin-top: 20px;
    width: 598px;
    list-style-type: none;
    margin-bottom: 120px;
    .listItem {
        
        display: flex;
        justify-content: space-between;
        border-top: 0.5px solid rgb(217, 217, 217);
        margin-top: 23px;
        .img {
            display: flex;
            gap: 10px;
            .name {
                font-family: Manrope-Semi-Bold;
                font-size: 16px;
            }
            .profi {
                font-family: Manrope-Medium;
                font-size: 14px;
                color: rgb(149, 149, 149);
            }
        }

        .appointment {
            font-family: Manrope-Regular;
            font-size: 16px;
        }

        .status {
            font-family: Manrope-Regular;
            font-size: 16px;
        }
    }
}