.cards {
    margin-top: 20px;
  
    h2 {
      font-family: Manrope-Semi-Bold;
      font-size: 36px;
  
      span {
        color: rgb(52, 110, 251);
      }
    }
  
    .cardContainer {
      display: flex;
      justify-content: space-between;
      margin-top: 60px;
    }
  }