.card{
    width: 389px;
    height: 280px;
    border-radius: 4px;
    background: rgb(219, 235, 255);
    padding: 40px;
}

.card .title {
    color:rgb(52, 110, 251);
    font-family: Manrope-Semi-Bold;
    font-size: 48px;
}

.card .subtitle{
    color: rgb(34, 34, 34);
    font-family: 'Montserrat Medium';
    font-size: 20px;

}

.card .text {
    margin-top: 18px;
    color: rgb(34, 34, 34);
    font-family: Manrope-Regular;
}