.services{
    h1{
        font-family: Manrope-Semi-Bold;
        font-size: 36px;
        margin-top: 26px;
        span{
            color: rgb(52, 110, 251);

        }
    }

    .servicesList{
        display: flex;
        flex-wrap: wrap;
        gap: 26px;
        width: 886px;
        margin-top: 60px;
    }

    .questionSection{
        margin-top: 120px;
        h2{
            font-family: Manrope-Regular;
            font-size: 36px;
            margin-bottom: 34px;
        }
        p{
            font-family: Manrope-Regular;
            font-size: 18px;
            width: 816px;
        }
    }

}