.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:white;
    overflow: hidden;
    overflow-y: auto;
    z-index: 1;
    .signIn{
        position: absolute;       
        top: 120px;
        left: 490px;
        padding: 50px 40px;
        width: 494px;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        .header{
            font-family: Manrope-Medium;
            font-size: 18px;
            text-align: center;
            margin-bottom: 24px;
        }
    
        .input {
            display: block;
            border: 1px solid rgb(217, 217, 217);
            border-radius: 8px;
            padding: 10px 8px 10px 16px;
            margin-bottom: 14px;
    
        }
    
        .forgot {
            margin-top: 28px;
            text-align: center;
            font-family: Manrope-Regular;
            a{
                color:rgb(52, 110, 251);
            }
        }
    
        .lines {
            margin-top: 20px;
            text-align: center;
            font-family: Manrope-Regular;
    
    
    
        }
    
        .signup {
            margin-top: 30px;
            text-align: center;
            font-family: Manrope-Regular;
            a{
                color: rgb(52, 110, 251);
            }
    
        }
    
        .signinwithgoogle{
            margin-top: 20px;
            background: rgb(245, 245, 245);
            font-family: Manrope-Semi-Bold;
            border-radius: 8px;
            height: 39px;
            border: none;
            cursor:pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    }

}