.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    .head {
        font-size: 23px;
        font-family: Manrope-Medium;
    }
}

.addCategory {
    input {
        margin-top: 27px;
        padding: 31px 49px 31px 17px;
        border-bottom: 1px solid #b5b5b5;
        background-color: white;
        font-size: 24px;
        width: 100%;
        font-family: Manrope-Regular;
    }
}

.visible {
    display: block;
}
.hidden {
    display: none;
}

.analyzesList {
    margin-top: 27px;
    .item {
        display: flex;
        justify-content: space-between;
        padding: 31px 49px 31px 17px;
        border-bottom: 1px solid #b5b5b5;
        background-color: white;
        font-size: 24px;
        font-family: Manrope-Regular;
        cursor: pointer;
        &:hover {
            background-color:  #F0F0F0;
        }
        .analyzeTitle {
            display: flex;
            gap: 34px;
        }

        .action {
            height: 26px;
            width: 26px;
            cursor: pointer;
            img {
                height: 100%;
                width: 100%;
            }
        }
    }

    a {
        color: black;
    }
}