h3{
    margin-bottom: 30px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    // width: 1017px;
    .card{
        font-weight: 500;
        font-family: Manrope-Medium;
        .imageDoctor{
            width: 319px;
            height: 349px;
        }
    }
    h4{
       font-size: 18px;
        color: rgb(34, 34, 34);
    }
    .profile{
        font-size: 16px;
        color: rgb(149, 149, 149);

    }
    button{
        margin-top: 10px;
        font-family: Manrope-Regular;
        color: rgb(2, 152, 71);
        transition: .4s;
        &:hover{
            color: #fff;
            background: linear-gradient(rgb(12, 187, 107),rgb(2, 123, 68));
            border: none;
        }
    }

}
