.header {
    font-family: Manrope-Semi-Bold;
    font-size: 18px;;
}

.inputs {
    .inputWrapper {
        margin-top: 20px;
        label {
            font-family: Manrope-Regular;
            font-size: 14px;
        }
        input {
            display: block;
            border: 1px solid rgb(217, 217, 217);
            border-radius: 6px;
            width: 420px;
            height: 38px;
            padding: 8px 18px;
            margin-top: 4px;
            font-family: Manrope-Regular;
            font-size: 16px;
            
        }
    }
}

.btnPart {
    display: flex;
    margin-top: 28px;
    gap: 18px;
    margin-bottom: 120px;
}