.globalAdding{
    margin-top: 80px;
    .header{
        font-size: 22px;
        font-family: Manrope-Regular;
        color: #000;
    }
    .addingDoctors{
        display: flex;
        padding: 40px;
        gap: 150px;
        background: #fff;
        .addImage{
            display: flex;
            flex-direction: column;
            gap: 10px;
            .title{
                font-family: Manrope-Regular;
                font-size: 12px;
                color: #909CB5;
                width: 148px;
                text-align: center;
            }
        }
        .infoDoctors{
            display: flex;
            flex-direction: column;
            gap: 30px;
            .infoDoctorsHeader{
                font-family: Manrope-Medium;
                font-family: 18px;
            }
            .addSpecialistInput{
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                
            justify-content: end;
            .inputAddSpecialist{
                width: 400px;
                height: 38px;
                border-radius: 6px;
                border: 1px solid #909CB5;
                padding: 10px;
            }
        }
        .addSpecialistButton{
            display: flex;
            gap: 10px;
            justify-content: end;
        }
    }
    }
    
}