$fontSize:16px;
$font:Manrope-Regular;

.footer{
    background-color: rgb(33,37,41);
    color: #fff;
    box-shadow: 0 0 0 100vmax rgb(33,37,41);
    clip-path: inset(0 -100vmax);
}
.container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.footerCol{
    display: flex;
    justify-content: space-between;
    .about{
        width: 35%;
        .logo{
            img{
                height: 79px;
            }

        }

        .text{
            .text1{
                margin-top: 26px;
            }
        }
    }
    .info{
        display: flex;
        width: 55%;
        justify-content:space-between;

        .social {
            .text{
                font-family: Manrope-Medium;
            }

        }
        
    }
}
.text{
    font-family: $font;
    font-size: $fontSize;
}
.text2{
    padding-top: 20px;
    font-weight: 400;
    color: #CCCCCC;
}
.contact{
    color: #fff;
    font-family: Manrope-Regular;
    ul{
        display: flex;
        flex-direction: column;
        margin-top: 19px;;
        justify-content: center;
        list-style-type: none; 
        color: #CCCCCC; 
    }
    li{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        img{
            width: 22px;
            height: 22px;
            margin-right: 2px;
        }
    }    
}
.links{
    margin-top: 19px;
    img{
        height: 30px;
        width: 30px;
        margin-right: 10px;
    }
}

.nav ul{ 
    display: flex;
    list-style-type:none;
    gap: 36px;
    margin-top: 46px;
    font-family: $font;
    font-size: $fontSize;
    color: #CCCCCC;
    .liscContact{
        display: flex;
        flex-direction: column;
    }
    .image{
        margin-top: -15px;
    }

}


.footerDown{
    font-family: Manrope-Regular;
}
.footerMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 68px;

}
.footerMain::after{
    content: "";
    background: #6F7074;
    height: 1px;
    display: block;
    width: 1200px;
    margin-top: 45px;
}
.footerDown{
    color: #959595;
/*     margin-top: 27.75px;
 */    padding: 20px 0;
    
}

a{
    text-decoration: none;
    color:rgb(204, 204, 204)
}
