.overlay{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  .drawer{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    height: 100%;
    background:#f1f1f1;
    right: 0;
    box-shadow: -10px 4px 24px rgba(0,0,0,0.1);
    gap: 5px;
    .headerRegistration{
        display: flex;
        align-items: center;
        background-color: #fFF;
        width: 100%;
        height: 56px;
        .remove{
          margin-right: 85px;
          cursor: pointer;
          margin-left: 4px;
        }
       }
      .headerTitle{
        color:#346EFB;
        font-size: 16px;
        font-family: Manrope-Bold;
      }
      .modal{
        border-radius: 10px;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 364px;
        height: 389px;
        gap: 15px;
        .doneScedule{
          font-size: 18px;
          font-family: Manrope-Semi-Bold;
        }
        .selectedDataandTime{
          font-family: Manrope-Medium;
          font-size: 16px;
        }
        .selectedDoctor{
          font-family: Manrope-Regular;
          font-size: 14px;
        }
        .cancel{
          font-family: Manrope-Medium;
          font-size: 14px;
          color: red;
          cursor: pointer;
        }
        .moreScedules{
          color: #fff;
          font-family: Manrope-Medium;
          font-size: 16px;
          background: #346EFB;
          border: 1px solid #346EFB;
          border-radius: 10px;
          width: 336px;
          padding: 10px ;
          cursor: pointer;
        }
      }

}}
