.AnalizeInfo{
    width: 70%;
    margin-bottom: 40px;
    
    h2{
        margin-top: 40px;
    }
    ul{
        margin-left: 15px;
         li{
        // list-style-type: none;
       
        margin-top: 3px;
        font-size: 16px;
        font-family: Manrope-Regular;
    }}
}