.servicesItem{
    width: 430px;
    height: 90px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 18px 22px;
    gap: 24px;
    img{
        display: block;
        width: 54px;
        height: 54px;
    }

    span{
        color: rgb(77, 78, 81);
        font-family: Manrope-Medium;
        font-size: 18px;
    }
}