.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.overlay .drawer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  height: 100%;
  background: #F3F1F1;
  right: 0;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  gap: 5px;
}
.overlay .drawer .headerRegistration {
  display: flex;
  align-items: center;
  background-color: #fFF;
  width: 100%;
  height: 56px;
}
.overlay .drawer .headerRegistration .remove {
  margin-right: 65px;
  cursor: pointer;
  margin-left: 4px;
}
.overlay .drawer .headerRegistration .headerTitle {
  color: #346EFB;
  font-size: 16px;
  font-family: Manrope-Bold;
}
.overlay .drawer .selectDoctorList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px 10px;
  gap: 6px;
}
.overlay .drawer .selectDoctorList .selectDoctor {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 10px;
  padding: 10px;
  gap: 18px;
  width: 370px;
}
.overlay .drawer .selectDoctorList .selectDoctor .doctorSelectedImage {
  border-radius: 50%;
}
.overlay .drawer .selectDoctorList .selectDoctor .doctorInfo .doctorName {
  font-family: Manrope-Regular;
  font-size: 16px;
}
.overlay .drawer .selectDoctorList .selectDoctor .doctorInfo .doctorProf {
  font-family: Manrope-Regular;
  font-size: 14px;
  color: #959595;
}
.overlay .drawer .selectDoctorList .chooseDate {
  display: flex;
  align-items: center;
  width: 370px;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  background: white;
  gap: 10px;
}
.overlay .drawer .selectDoctorList .soonTime {
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.overlay .drawer .selectDoctorList .soonTime .soonTimeTitle {
  font-family: Manrope-Regular;
  color: #4D4E51;
  font-size: 14px;
  width: 324px;
}
.overlay .drawer .selectDoctorList .timeSlotsContainer {
  background: #fff;
  padding: 8px;
  border-radius: 16px;
}
.overlay .drawer .selectDoctorList .timeSlotsContainer .timeSlotsTitle {
  font-size: 18px;
  font-family: Manrope-Medium;
  margin-bottom: 20px;
}
.overlay .drawer .selectDoctorList .timeSlotsContainer .timeSlotsList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.overlay .drawer .selectDoctorList .timeSlotsContainer .timeSlotsList .time {
  background: #fff;
  padding: 8px 15px;
  width: 75px;
  border-radius: 16px;
  color: #000;
  font-family: Manrope-Regular;
  font-size: 16px;
  border: 1px solid #D9D9D9;
  cursor: pointer;
  transition: 0.2s;
}
.overlay .drawer .selectDoctorList .timeSlotsContainer .timeSlotsList .time:hover {
  background: #346EFB;
  color: #fFF;
}
.overlay .drawer .selectDoctorList .continueButton {
  color: #fff;
  background: #346EFB;
  width: 335px;
  font-family: Manrope-Medium;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #D9D9D9;
  cursor: pointer;
  margin-top: 20px;
}/*# sourceMappingURL=ChooseDateDrawer.module.css.map */