*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





@font-face {
    font-family: Manrope-Extra-Bold;
    src: url('./assets/fonts/Manrope/Manrope-ExtraBold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: Manrope-Bold;
    src: url('./assets/fonts/Manrope/Manrope-Bold.ttf');
    font-weight: 700;
}


@font-face {
    font-family: Manrope-Semi-Bold;
    src: url('./assets/fonts/Manrope/Manrope-SemiBold.ttf');
    font-weight: 600;
}


@font-face {
    font-family: Manrope-Medium;
    src: url('./assets/fonts/Manrope/Manrope-Medium.ttf');
    font-weight: 500;
}


@font-face {
    font-family: Manrope-Regular;
    src: url('./assets/fonts/Manrope/Manrope-Regular.ttf');
    font-weight: 400;
}


@font-face {
    font-family: Manrope-Light;
    src: url('./assets/fonts/Manrope/Manrope-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins Black';
    src: url('./assets/fonts/Poppins/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    }


@font-face {
    font-family: 'Montserrat Medium';
    src: url('./assets/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    }