.buttonCont {
    position: relative;

    button {
      display: block;
      border: none;
      height: 43px;
      margin-top: 50px;
      padding: 8px 38px 8px 20px;
      // background: linear-gradient(180deg, rgb(12, 187, 107), rgb(2, 123, 68) 100%);
      background: #346EFB;
      border-radius: 24px;
      cursor: pointer;
      color: rgb(255, 255, 255);
      font-family: Manrope-Semi-Bold;
      font-size: 14px;
    }

    span {
      position: absolute;
      top: 63%;
      right: 5px;
    }
  }